---
import Layout from "../layouts/Layout.astro";

import ProfileCard from "../components/ProfileCard.astro";
---

<Layout title="Profile card component">
  <main>
    <div class="wrapper">
      <ProfileCard />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .wrapper {
    max-width: 80%;
    margin-inline: auto;
  }
</style>
