---
import Layout from "../layouts/Layout.astro";

import ProfileCard from "../components/ProfileCard.astro";
---

<Layout title="Profile card component">
  <main>
    <ProfileCard />
  </main>
</Layout>

<style>
  body {
    display: grid;
    place-items: center;
    background:
      -80% -20% / 80% no-repeat url(/images/bg-pattern-top.svg),
      200% 120% / 80% no-repeat url(/images/bg-pattern-bottom.svg);
  }

  @media screen and (min-width: 850px) {
    body {
      background:
        -180% -500px / 80% no-repeat url(/images/bg-pattern-top.svg),
        550px 350px / 80% no-repeat url(/images/bg-pattern-bottom.svg);
    }
  }
</style>
