<div class="card">
  <div class="user">
    <img src="/images/image-victor.jpg" alt="User's photo" class="user-photo" />
    <div class="user-details">
      <h2>Victor Crest <span>26</span></h2>
      <p>London</p>
    </div>
  </div>

  <div class="statistics">
    <div>
      <p>80K</p>
      <p>Followers</p>
    </div>
    <div>
      <p>803K</p>
      <p>Likes</p>
    </div>
    <div>
      <p>1.4K</p>
      <p>Photos</p>
    </div>
  </div>
</div>

<style>
  .card {
    background-color: white;
    border-radius: 20px;
    margin-top: 4rem;
  }
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .user::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 45%;
    inset: 0;
    z-index: -1;
    background: lightblue;
    background-image: url(/images/bg-pattern-card.svg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    color: hsl(var(--crl-desat-blue));
  }

  .user-details p {
    color: hsl(var(--crl-dark-grayish) / 0.8);
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .user-details h2 {
    font-size: 1rem;
    display: flex;
    gap: 0.8rem;
  }
  .user-details h2 span {
    color: hsl(var(--crl-dark-grayish) / 0.8);
    font-weight: normal;
  }

  .user-photo {
    width: 100px;
    margin-top: 4rem;
    border-radius: 9999px;
    height: 100px;
    border: 4px solid white;
  }
  .statistics {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    border-top: 1px solid hsl(var(--crl-dark-grayish) / 0.2);
    color: hsl(var(--crl-desat-blue));
  }

  .statistics > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .statistics p:first-child {
    font-weight: bold;
  }

  .statistics p:last-child {
    color: hsl(var(--crl-dark-grayish) / 0.6);
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
</style>
