---

---

<div class="card">
  <img src="/images/bg-pattern-card.svg" alt="Pattern" class="pattern" />
  <div class="user">
    <img src="/images/image-victor.jpg" alt="User's photo" class="user-photo" />
    <div class="user-details">
      <h2>Victor Crest <span>26</span></h2>
      <p>London</p>
    </div>
  </div>

  <div class="statistics">
    <div>
      <p>80K</p>
      <p>Followers</p>
    </div>
    <div>
      <p>803K</p>
      <p>Likes</p>
    </div>
    <div>
      <p>1.4K</p>
      <p>Photos</p>
    </div>
  </div>
</div>

<style>
  .card {
    color: hsl(var(--crl-desat-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    position: relative;
    z-index: -2;
    background-color: white;
  }
  .pattern {
    width: 100%;
    position: absolute;
    inset: 0;
    height: 40%;
    object-fit: cover;
    z-index: -1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .user-photo {
    width: clamp(50px, 100px, 200px);
    border-radius: 9999px;
    border: 3px solid white;
  }

  .statistics {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 26px 55px;
    border-top: 1px solid hsl(var(--crl-dark-grayish) / 0.2);
  }

  .statistics div p:first-child {
    font-weight: bold;
  }

  .statistics div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .statistics div p:nth-child(2) {
    color: hsl(var(--crl-dark-grayish));
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .user {
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
</style>
